body{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #ffffff;
    text-decoration: underline;
}

.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.left {
    padding: 20px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}

.timeline {
    border-left: 2px solid #ffa500;
    padding-left: 20px;
}

.event {
    margin: 10px 0;
    font-weight: 300;
}
.sub{
    margin: 10px 0;
    font-weight: bold;
    color: #323131;
}
 
a{
    text-decoration: none;
    color: rgb(1, 36, 9);
}
a:hover{
    color: #ffa500;
}
.left {
    animation: slideInLeft 2s ease-in-out;
}

.event, .sub {
    animation: slideInRight 2s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}